# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Bb]uild/
[Tt]emp/
[Oo]bj/
[Ee]xe/
UnityGenerated/

# ----[ Rider / MonoDevelop generated ]------- #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
workspace.xlm

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
*~
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# -------------[ Build ]------------------------ #
*.html
*.unity3d
